.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}


.container{
  background-color: #C4C4C4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons{
  width: 80%;
  padding: 20px;
}

.dislike-button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: white;
    background-color: rgb(242, 201, 76);
    font-size: 56px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
}

.dislike-button:hover,.like-button:hover{box-shadow: 5px 5px 20px grey }
.dislike-button:active,.like-button:active{box-shadow: none; transition: 0.3s;}


.like-button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  color: white;
  background-color: rgb(64, 138, 180);
  font-size: 56px;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
}
