.userMain {
  width: 600px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #4B4B4B;
  font-family: 'Gudea', sans-serif;
}

@media screen and (max-width:621px) {
  .userMain {
     width: 100vw;
  }

}

.headerUser {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

}

.displayUser {
  width: 100%;
}
.profileImg {
  width: 100%;
  height: 250px;

}
.userBk {
  height: 250px;
}

.lineBk {
  position: relative;
  top: -170px;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: #67CAC5;
}
 .userPicture {
   position: relative;
   top: -290px;
   left: 50%;
   width: 170px;
   height: 170px;
   border: 2.5px solid #527AB8;
   border-radius: 50%;
   background-color: red;
   transform: translateX(-50%);
   overflow: hidden;
 }


.homeLink {
  margin: 20px;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(255, 52, 52);
}

.name {
  font-size: 30px;
}


/* Style the list */
ul.breadcrumb {
  margin-left: 5px;
    padding-left:0;
    margin-top: 0;
    list-style: none;
    font-size: 15px;

}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;

}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "\003E";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #4B4B4B;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.website {
  color: blue;
}

.homeBtn {
  position: relative;
  left: -270px;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 50px;
  border-radius: 0 10px 10px 0;
  background-color: #67CAC5;

}

@media screen and (max-width:621px) {

  .homeBtn {
    position: absolute;
    left: 0;
  }
}
