
.notificationContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  padding-top: 20px;
  width: 600px;
}

@media screen and (max-width:621px) {
  .notificationContainer {
     width: 100vw;
  }

}

.header {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;


}

.logContainer {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}


.requests, .matchs {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding-left: 0;
  background-color:  #FFFFFF;
  width: 100%;
  height: 200px;
}

.requestItem, .matchItem {
  border-top: 1px solid #F5F5F5;
  justify-content: space-between;
  height: 60px;
  display: flex;
  flex-flow: row;
  align-items: center;
  overflow: hidden;
}

.requestItem:hover, .matchItem:hover{  background: linear-gradient(to top, rgba(64,138,180,0.31) 0%,rgba(71,141,181,0.31) 2%,rgba(196,196,196,0.36) 38%,rgba(196,196,196,0.45) 100%);
}

.sender {
  padding-left: 10px;
  height: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 0.9vw;
  color: #9CA1A5;
}

@media screen and (max-width:645px) {
  .sender {
     font-size: 1.9vw;
  }

}

@media screen and (max-width: 320px) {
  .sender {
     font-size: 2.9vw;
  }


}

@media screen and (min-width:1078px) {
  .header {
     width: 50%;
  }

}



.sender p {
  margin-top: 2px;
  margin-bottom: 4px;
}

.description {
  width: 50%;
  height: 29%;
  padding-left: 20px;
  color: #9CA1A5;
  overflow: hidden;

}



.accept {
  border-radius: 0;
  border: none;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-right: 0;
  font-size: 12px;
  color: #82868B;
  margin-left: 20px;
  cursor:pointer;

}

.accept:hover {
  color:green;
}

.info {
  font-size: 1.2vw;
  margin-right: 10px;
  color: #82868B;
  cursor:pointer;
  text-decoration: underline;
}

.info:hover {
  color: blue;
}



.shortInfo:visited {
  color: #82868B;
}

.shortInfo:hover {
  color: green;
}


.userImg {
  width: 50px;
  height: 50px;
  border: 3px solid #5B84BC;
  border-radius: 50%;
  margin-left: 20px;
  overflow: hidden;
}


@media screen and (max-width: 600px) {
  .info {
     font-size: 2.9vw;
  }

}

.container {
  display: flex;
  align-items: center;

}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 14px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.log {
  padding-right: 27px;
  font-size: 10px;
}



.headerImg {
  width: 150px;
}

/* Style the list */
ul.breadcrumb {
  margin-left: 10px;
    padding-left: 0;
    margin-top: 0;
    list-style: none;
    font-size: 15px;

}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;

}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "\003E";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.req, .mat {
  margin-bottom: -14px;
  align-self: flex-end;

  color: #9CA1A5;
}
