
.notificationContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  margin-top: 10px;
}


.requests, .matchs {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding-left: 0;
  background-color:  #FFFFFF;
  width: 100%;
  height: 200px;
}

.requestItem, .matchItem {
  border-top: 1px solid #F5F5F5;
  justify-content: space-between;
  height: 60px;
  display: flex;
  flex-flow: row;
  align-items: center;
  overflow: hidden;
}

.requestItem:hover, .matchItem:hover{  background: linear-gradient(to top, rgba(64,138,180,0.31) 0%,rgba(71,141,181,0.31) 2%,rgba(196,196,196,0.36) 38%,rgba(196,196,196,0.45) 100%);
}

.sender {
  padding-left: 10px;

  height: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 1.4vw;
  color: #9CA1A5;
}




@media screen and (max-width:645px) {
  .sender {
     font-size: 1.9vw;
  }

}

@media screen and (max-width: 320px) {
  .sender {
     font-size: 2.9vw;
  }

}
.sender p {
  margin-top: 2px;
  margin-bottom: 4px;
}

.description {
  width: 50%;
  height: 29%;
  padding-left: 20px;
  color: #9CA1A5;
  overflow: hidden;

}



.accept {
  border-radius: 0;
  border: none;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-right: 0;
  font-size: 30px;
  color: #82868B;
  margin-left: 20px;
  cursor:pointer;

}

.info {
  border-radius: 0;
  border: none;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  margin-right: 0;
  font-size: 1.2vw;
  color: #82868B;
  margin-left: 20px;
  margin-right: 10px;
  cursor:pointer;
  text-decoration: underline;
}

.userImg {
  width: 50px;
  height: 50px;
  border: 3px solid #5B84BC;
  border-radius: 50%;
  margin-left: 20px;
}


@media screen and (max-width: 600px) {
  .info {
     font-size: 2.9vw;
  }

}

.container {
  display: flex;
  align-items: center;
  margin-top: 70px;
}
