.shape{
  background-image: url("../../images/pegboard.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}
.sqrComp{
  background-color: rgba(255, 255, 255, 0.61);
}

.superBox{
  outline:none;
  border-top:none;
  border-left:none;
  border-right:none;
  font-size: 18pt;
}
.Slogan{
  font-size: 18pt;
  background-color:white;
  border-radius: 20px;
  padding:10px;
}
