.shape{
  background-image: url("../../images/pegboard.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}
.sqrComp{
  background-color: rgba(255, 255, 255, 0.61);

}

.superBox{
  outline:none;
  border-top:none;
  border-left:none;
  border-right:none;
  font-size: 18pt;
}
.Slogan{
  font-size: 18pt;
  border-radius: 20px;
  padding:10px;
}

.superBox:focus {
  border-bottom:3px solid rgb(23, 129, 215);
  transition: 0.4s;
}

.far{
  float: left;
  top: 30px;
  left:-20px;
  position: relative;
  color:rgb(64, 138, 180);
}
.fas{
  float: left;
  top: 30px;
  left:-20px;
  position: relative;
  color:rgb(64, 138, 180);
}
